/* ESTILOS CURSOS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','SUSE', 'Bebas Neue', 'Poiret One';
    font-weight: 400;
}
/* ------------- MAIN ------------- */

.main-detalle .descripcion{
    display: flex;
    padding: 2rem 1rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.subtitulo-curso{
    text-align: start;
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.main-detalle .descripcion .descripcion__imagen{
    width: fit-content;
    display: flex;
    justify-content: end;
}

.main-detalle .descripcion .descripcion__imagen .contenedor-imagen{
    max-height: 25em;
    max-width: 25em;
}

.main-detalle .descripcion .descripcion__imagen .contenedor-imagen img{
    width: 100%;
    border-radius: .4em;
    box-shadow: 0 0 5px rgb(66, 66, 66, .5);
}

.main-detalle .descripcion .descripcion__info-curso{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.main-detalle .descripcion .descripcion__contenido{
    max-width: 22em;
    height: 50%;
}

.descripcion__contenido{
    justify-self: end;
}

.contenedor__unidad{
    background-color: rgb(155, 155, 155);
}

.contenido__unidades{
    display: flex;
    flex-direction: column;
}

.contenedor-checkbox{
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5f5;
    display: flex;
    gap: .5em;
    padding: .5em;
    background-color: #424242;
    width: 100%;
    margin: 0;
}

.contenedor-checkbox input{
    width: 1em;
}

/*------------- PERFIL DOCENTE -------------*/
.contenedor-docente{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor-docente .info-docente{
    width: 100%;
    height: fit-content;
    background-color: #229799;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
}

.descripcion-docente {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}

.contenedor-imagen__docente{
    max-width: 12em;
}

.contenedor-imagen__docente img{
    width: 100%;
    border-radius: 50%;
}

.contenedor-info__docente{
    width: 70%;
}

.rating{
    display: flex;
    gap: 0.8rem;
    position: relative;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating input{
    position: relative;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: none;
    appearance: none;
    -webkit-appearance: none;
}

.rating input::before{
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 1.2em;
    color: #111;
    transition: .5s;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before{
    color: var(--c);
}

.nombre-docente{
    font-size: 1.6rem;
}

.descripcion-docente{
    font-size: 1.25rem;
}
/* ------------- FIN DOCENTE ------------- */

/* ------------- CURSOS (INFO) ------------- */

.cursos-container{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cursos-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 3em;
    gap: 3.8em;
    justify-content: space-around;
}

.cursos-info .subtitulo-curso{
    text-align: center;
}

.navbar-cursos__lista{
    height: fit-content;
    display: flex;
    gap: 1em;
}

.navbar-cursos__lista-elemento{
    list-style-type: none;
    color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgba(66, 66, 66, .5);
    padding: 1em;
    border-radius: 1em;
    margin: 0;
    cursor: pointer;
}

.navbar-cursos__lista-elemento:hover{
    background-color: #229799;
}

.cursos-encuadre{
    height: 10rem;
    width: 10rem;
}

.cursos-info-container{
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    box-shadow: 0 0 .5em rgb(66, 66, 66, .5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    transition: .3s;
}

.cursos-info-container:hover{
    transform: scale(1.08);
}

.contenedor-imagen__curso{
    max-width: 20em;
}

.cursos-info-container .contenedor-imagen__curso img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.cursos-info__detalles{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.cursos-info__contenedor__titulo-detalles{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.cursos-info__contenedor__titulo-detalles a{
    font-family: "Poiret One", sans-serif;
}

.cursos-info-container button{
    align-self: flex-end;
}

/* ------------- MAIN (extras) ------------- */

.curso-item{
    font-size: 1.5rem;
}

.contenedor-docente .subtitulo-curso{
    margin-left: 3rem;
}

.boton-inscripcion{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: .5em;
    width: fit-content;
    height: 2.8rem;
    background-color: #229799;
    cursor: pointer;
    border: 0;
    border-radius: .5em;
    font-size: 1rem;
    transition: .5s;
}

.boton-inscripcion:hover{
    background-color: #48CFCB;
}

.titulos-unidades{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    text-align: center;
}

/*MQ*/

/*SmartPhones*/
@media (max-width: 47em){
    .navbar-cursos__lista{
        display: flex;
        flex-direction: column;
    }
    .descripcion{
        display: flex;
        flex-direction: column;
    }
    .descripcion__contenido{
        display: block;
    }
    .subtitulo-curso, .nombre-docente, .titulos-unidades{
        font-size: .8em;
    }
    .descripcion__info-curso .curso-item, .boton-inscripcion,
    .descripcion-docente, .contenedor-checkbox, .navbar-cursos__lista-elemento, .cursos-info__detalles{
        font-size: .7em;
    }
}

@media(max-width: 60em){
    .subtitulo-curso, .nombre-docente, .titulos-unidades{
        font-size: 1.1em;
    }
    .descripcion__info-curso .curso-item, .boton-inscripcion,
    .descripcion-docente, .contenedor-checkbox, .navbar-cursos__lista-elemento, .cursos-info__detalles{
        font-size: 1em;
    }
}