.main-container{
    display: flex;
    margin: 0 auto;
    max-width: 98.4rem;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.resumen{
    padding-top: 5rem;
}

span{
    color: #777a;
    font-size: 12px;
}

main{
    display: flex;
    width: 35rem;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    align-items: center;
}

.datos-de-tarjeta{
    padding: 1.5rem;
    padding-top: 0;
}


.datos-bancarios{
    display: flex;
    flex-direction: column;
}
.input-tarjeta{
    width: 100%;
    height: 2.5rem;
    border: 2px solid #000;
    border-radius: 0%;
}
.input-vencimiento{
    width: 95%;
}

.input-especifico{
    display: flex;
    justify-content: right;
}
.parte-arriba-pago{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}

.medio-de-pago{
    border-right: 2px solid #bbba;
    border-left: 2px solid #bbba;
}


.tarjeta, .mercado-pago{
    border-bottom: 2px solid #bbba;
    border-top: 2px solid #bbba;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #bbb5;
    flex-direction: row;
}

.tarjeta-label{
    display: flex;
    align-items: center;
}

.mercado-pago{
    border-right: 2px solid #bbba;
    border-left: 2px solid #bbba;
}

h2{
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1rem;
}

h3{
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.6rem;
    padding-left: 0;
}

h1{
    padding: ;
}

.input-check{
    height: 16px;
    width: 16px;
    padding: ;
}

.pagar{
    padding: 10px;
    padding-left: 0;
    font-size: 20px;
}

.input-check:focus{
    box-shadow: none;
}

.fecha-vencimiento{
    display: flex;
    justify-content: space-between;
}

.guardar-informacion{
    display: flex;
    font-size: 12px;
    justify-content: left;
    align-items: center;
    padding-bottom: 0.5rem;
}

.input-guardar{
    padding: 0.5rem;
    padding-left: 1.5rem;
}

.iconos{
    height: auto;
    width: 2rem;
}

.iconos-contenedor{
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    width: 15rem;
}

.linea{
    border-bottom: 2px solid #bbba;
}

.total{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    padding-left: 0;
}

.total-texto{
    padding: 0;
    padding-top: 1rem;
}

.resumen-texto{
    font-size: 1.5rem;
    padding: 0 0 0.5rem 0 ;
}

.contenedor-confirmar{
    padding: 2rem 0 0 0;
    background-color: ;
}

.boton-confirmar{
    box-sizing: border-box;

    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: #229799;
    transition: background-color 0.3s;
    color: white;
}

.boton-confirmar:hover{
    transform: scale(1.02);
    background-color: #48CFCB;
}


@media screen and (max-width: 60rem){
    .main-container{
        flex-direction: column;
    }

    .resumen{
        width: 100%;
        background-color: #fff;
        padding: 2rem;
        
    }
}