* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor-perfil {
    justify-self: right;
    max-width: 37rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 0.125 0.625rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.giftcard{
    display: grid;
    height: 100%;
    width: 100%;
}

.texto-giftcard{
    display: none;
    justify-self: center;
}

.giftcard-contenedor{
    width: 100%;
    justify-self: center;
}

.titulo-giftcard{
    align-self: flex-start;
    justify-self: center;
}

.cabecera-perfil {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1.25rem;
}

.titulo {
    font-size: 1.8rem;
    margin: 0;
}

.contenido-perfil {
    padding: 1.25rem;
}

.datos-basicos p {
    font-size: 1.2rem;
    margin-bottom: 0.625rem;
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.btn {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
}

.cerrar-sesion {
    background-color: #3498db;
    color: white;
}

.eliminar-perfil {
    background-color: #e74c3c;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

.cursos-en-perfil{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-flow: column;
    box-shadow: 0 0 2px #a4a7aa;
    height: 5rem;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
    padding: 0.5rem 1rem;
}

.imagen-curso{
    height: 3rem;
    justify-self: center;
}

.titulo-curso{
    align-self: baseline;
    grid-column: 2;
}

.texto-curso{
    font-size: 0.9rem;
    color: #747577;
}

.info-curso{
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
