* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

h2 {
    font-weight: 400;
    font-style: normal;
}

header {
    background: #424242;
    box-shadow: 0 0 20px rgba(72, 207, 203, 0.5);
    position: relative;
}

main {
    background-color: #f5f5f5;
}

footer {
    background: #424242;
    box-shadow: 0 0 20px rgba(72, 207, 203, 0.5);
    position: relative;
}

/*HEADER*/

.logo {
    width: 10em;
}

.logo img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.contenedorCarrito {
    width: 3em;
}

.contenedorCarrito svg {
    width: 100%;
}

.headerTop {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 20px;
}

.headerBot {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 0.5em;
}
li {
    display: inline;
    margin-inline: 70px;
}
li a {
    text-decoration: none;
    color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: 0.5s;
}

li a:hover {
    color: #48cfcb;
}

header input {
    padding: 10px;
    padding-right: 300px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.buscador {
    display: flex;
}
header button {
    background: #48cfcb;
    margin: auto;
    padding: 15px 20px;
    position: relative;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

/*HEADER*/

/*MAIN*/
/*CARRUSEL IMAGENES*/
.contenedorImagen-carrusel img {
    width: 100%;
}
/*CARRUSEL IMAGENES*/

/*PASOS DE REGISTRO*/
.contenedor-pasosRegistro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    column-gap: 10rem;
}

.pasoDeRegistro {
    width: 20rem;
    height: fit-content;
    background-color: darkgray;
    margin: 1rem 0;
}
.pasoDeRegistro .pasoDeRegistro-titulo {
    text-align: center;
}
.pasoDeRegistro .pasoDeRegistro-texto {
    text-align: justify;
}
/*PASOS DE REGISTRO*/

/*SUBTITULOS*/
.subtitulo-pagina {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}
/*SUBTITULOS*/

/*CURSOS DESTACADOS*/

.contenedor-cursosDestacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.cursoDestacado {
    width: 20rem;
    height: 20rem;
    border: solid;
}

.contenedorImagen-curso {
    margin: 1rem;
    position: relative;
}
.contenedorImagen-curso img {
    max-width: 100%;
    display: block;
}

.contenedorImagen-curso .precioCurso {
    position: absolute;
    right: 0;
    bottom: 20%;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.2rem;
}

.cursoDestacado .cursoDestacado-segundaFila {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.cursoDestacado .cursoDestacado-segundaFila .primeraColumna {
    font-size: 1.5rem;
    font-weight: 800;
}
.cursoDestacado .cursoDestacado-segundaFila .segundaColumna {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cursoDestacado .cursoDestacado-segundaFila .segundaColumna p {
    font-size: 1.5rem;
    font-weight: 600;
}
.cursoDestacado .cursoDestacado-segundaFila .segundaColumna a {
    font-size: 1.1rem;
}
.cursoDestacado .cursoDestacado-segundaFila .segundaColumna button {
    font-size: 1.2rem;
    padding: 0.2rem;
}
/*CURSOS DESTACADOS*/

/*MEDIOS DE PAGO*/
.contenedor-mediosDePago {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.contenedor-mediosDePago .medioDePago {
    width: 14rem;
}
.contenedor-mediosDePago .medioDePago img {
    display: block;
    width: 100%;
}
/*MEDIOS DE PAGO*/

/*MAIN*/

/*Contactos*/
.contenedorContactos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.contenedorContactos h1 {
    margin: 20px;
}

.contacto {
    display: flex;
    margin: 10px;
    column-gap: 30px;
}

.ubicacion__map {
    width: 32rem;
    height: 400px;
    border: 1px black solid;
    margin: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ubicacion h2 {
    margin: 20px;
}

.ubicacion__map img {
    width: 100%;
    height: 100%;
}

.contacto__input {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:disabled {
    background-color: #f5f5f5;
    color: #aaa;
    cursor: not-allowed;
}

.contacto button,
button.inscribirse {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contacto button:hover,
button.inscribirse:hover {
    cursor: pointer;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.bloqueDeTexto {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.bloqueDeTexto textarea {
    height: 80%;
    width: 500px;
    font-size: 16px;
}

/*Contactos*/

/*Formulario de Inscrición*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorInscripciones {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.inscripcion {
    display: flex;
    margin: 10px;
}

.inscripcion__contenedor {
    display: flex;
    gap: 30px;
}

.inscripcion__input {
    display: flex;
    flex-direction: column;
}

.contenedorInscripciones button.removerCurso,
button.agregarPersona {
    width: 50px;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    border: none;
}

button.removerCurso {
    background-image: url(../img/icon/icons8-menos-100.png);
}

.contenedorAgregarPersona {
    display: flex;
    margin-top: 10px;
    height: 50px;
    align-items: center;
}

button.agregarPersona {
    background-image: url(../img/icon/icons8-más-100.png);
    height: 50px;
}

.contenedorInscribirse {
    margin: 10px;
    margin-left: 50px;
    display: flex;
    gap: 10px;
}

.contenedorInscribirse p {
    font-size: 24px;
    width: 100px;
    align-content: center;
    font-weight: 600;
}

.contenedorAgregarPersona button,
.contenedorInscribirse button {
    margin-right: auto; /* Alinea el botón al inicio */
}

/*Formulario de Inscrición*/

/*MAIN*/

/*FOOTER*/
.pieDePagina {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}

.datos {
    height: 150px;
    width: 450px;
    background-color: darkgrey;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* FOOTER*/

/*MEDIA QUERIES*/

@media (max-width: 768px) {
    .carruselImagenes {
        display: none;
    }

    .mediosDePago,
    .pasos {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .cursosDestacados {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*MEDIA QUERIES*/
