* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: #f5f5f5;
    min-height: calc(100vh - 17.5rem);
    padding: 1.5rem;
}

.clase-evento-modal {
    font-size: 1rem;
    padding: 1rem;
}

/*MAIN*/
/*CARRUSEL IMAGENES*/
.contenedorSlider {
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 76rem;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.contenedorOpciones {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    z-index: 1;
    right: 46%;
    bottom: 5%;
}

.contenedorImagenesSlider {
    display: flex;
    transition: all 0.6s ease-in; /*Transicion de imagenes*/
}

.contenedorImagenesSlider img {
    width: 100%;
}
/*CARRUSEL IMAGENES*/

/*PASOS DE REGISTRO*/
.contenedor-pasosRegistro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    column-gap: 10rem;
}

.pasoDeRegistro {
    max-width: 20rem;
    padding: 0.5rem;
    border-radius: 1em;
    box-shadow: 0 0 0.25rem rgb(66, 66, 66, 0.5);
    margin: 1rem 0;
    align-content: center;
    transition: 0.3s;
}
.pasoDeRegistro:hover {
    transform: scale(1.08);
}

.pasoDeRegistro .pasoDeRegistro-titulo {
    text-align: center;
}
.pasoDeRegistro .pasoDeRegistro-texto {
    text-align: justify;
}
/*PASOS DE REGISTRO*/

/*SUBTITULOS*/
.subtitulo-pagina {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}
/*SUBTITULOS*/

/*MEDIOS DE PAGO*/
.contenedor-mediosDePago {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.contenedor-mediosDePago .medioDePago {
    max-width: 14rem;
}
.contenedor-mediosDePago .medioDePago img {
    display: block;
    width: 100%;
}
/*MEDIOS DE PAGO*/

/*MAIN*/

/*Contactos*/
.contenedorContactos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.625rem;
}

.contenedorContactos h1 {
    margin: 1.25rem;
}

.contacto,
.login {
    display: flex;
    margin: 0.625rem;
    column-gap: 1.875rem;
}

.ubicacion__map {
    width: 32rem;
    height: 25rem;
    border: 1px black solid;
    margin: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ubicacion h2 {
    margin: 1.25rem;
}

.ubicacion__map img {
    width: 100%;
    height: 100%;
}

.contacto__input {
    row-gap: 1.25rem;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.625rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

input:disabled {
    background-color: #f5f5f5;
    color: #aaa;
    cursor: not-allowed;
}

.contacto button,
.login button,
button.inscribirse {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 0.125em solid #ccc;
    border-radius: 0.25rem;
    outline: none;
}

.contacto button:hover,
.login button:hover,
button.inscribirse:hover {
    cursor: pointer;
    border-color: #007bff;
    box-shadow: 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

a.inscribirse {
    height: 2.5rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton-confirmar {
    box-sizing: border-box;
    width: 8rem;
    height: 2.5rem;
    border: 0;
    border-radius: 0.315em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.315em;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 400;
    cursor: pointer;
    background-color: #229799;
    transition: 0.3s;
    color: white;
}

.boton-confirmar:hover {
    background-color: #48cfcb;
    transform: scale(1.02);
}

.bloqueDeTexto {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}
.bloqueDeTexto textarea {
    height: 80%;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
}

/*Contactos*/

/*Formulario de Inscrición*/

.formularioDeInscricion__info-container {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

.contenedorInscripciones h2 {
    margin: 2rem 0.75rem 1rem;
}

.contenedorPersonasAgregadas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorInscripciones {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0.625rem;
}

.inscripcion {
    display: flex;
    margin: 0.625rem;
}

.inscripcion__contenedor {
    display: flex;
    gap: 1.875rem;
}

.inscripcion__input {
    display: flex;
    flex-direction: column;
}

.contenedorInscripciones button.removerCurso,
button.agregarPersona {
    width: 3.125rem;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    margin: 0.25rem;
    border-radius: 50%;
    border: none;
}

button.removerCurso {
    background-image: url(../img/icon/icons8-menos-100.png);
}

.contenedorAgregarPersona {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.625rem;
    height: 3.125rem;
    align-items: center;
}

button.agregarPersona {
    background-image: url(../img/icon/icons8-más-100.png);
    height: 3.125rem;
}

.contenedorInscribirse {
    padding-left: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    height: 4rem;
    width: 20rem;
}

.contenedorInscribirse p {
    font-size: 1.5rem;
    width: 5rem;
    align-content: center;
    font-weight: 600;
}

.contenedorAgregarPersona button,
.contenedorInscribirse button {
    margin-right: auto; /* Alinea el botón al inicio */
}

/*Formulario de Inscrición*/

/*MAIN*/

/*MEDIA QUERIES*/

/* Tablets */
@media (max-width: 60em) {
    .contenedorLogin {
        grid-template-columns: 1fr;
    }

    .contenedorLogin__bienvenida {
        display: none;
    }

    .contacto {
        flex-direction: column-reverse;
        align-items: center;
    }

    .bloqueDeTexto {
        margin: 1rem 0 1rem 0;
        height: 10rem;
    }
}

/* Smartphones */
@media (max-width: 47em) {
    .contenedorSlider,
    .contenedorLogin__bienvenida {
        display: none;
    }

    .mediosDePago,
    .pasos {
        flex-direction: column;
        align-items: center;
        row-gap: 0.625rem;
    }

    .cursosDestacados {
        grid-template-columns: repeat(1, 1fr);
    }

    .loginMain {
        margin: 0;
        min-height: 100%;
    }

    .contenedorLogin {
        width: 100vw;
        height: 100%;
        min-height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .contenedorContactos {
        width: 90%;
    }

    .contactoMain input {
        width: 100%;
    }

    .ubicacion__map {
        width: 100%;
        margin: 0;
    }

    .inscripcion:nth-of-type(2),
    .inscripcion:nth-of-type(3),
    .removerCurso {
        display: none;
    }

    .inscripcion__contenedor {
        flex-direction: column;
    }

    .contenedorAgregarPersona button {
        margin-right: 0;
    }

    .contenedorInscribirse {
        flex-direction: column;
        padding-left: 0;
        align-items: normal;
        margin-top: 1rem;
        width: fit-content;
    }
}

/*MEDIA QUERIES*/
